---
layout: page
title: Home
---

<div style="display: flex;align-items: center;justify-content: left">
    <img src="img/photo.png" alt="Photo" style="border-radius:50%;width:25%;height:25%;">
    <p style="padding-left:40px; font-size: 22px;float: left;">
        <b>Intern on Trustworthy Artificial Intelligence<br>
        at <a href="https://list.cea.fr/en/" target="_bank">CEA List</a></b>
    </p>
</div>

<br>

<p>Student in Computer Science, specialized in Software Verification<br>
Institutions: <span style="font-size: 20px"><a href="https://enseirb-matmeca.bordeaux-inp.fr/" target="_blank">ENSEIRB-MATMECA</a> / <a href="https://www.u-bordeaux.fr/" target="_blank">Bordeaux University</a>, France 🇫🇷</span>
</p>

<h2>About</h2>
<p><b>CV:</b> <a href="upload/cv2425_web.pdf" target="_blank">French version 🇫🇷</a> | <a href="upload/soon.pdf" target="_blank">English version 🇬🇧</a>
<br>
<b>Find me on...</b> <a href="https://linkedin.com/in/guilhem-ardouin-912826233" target="_blank">Linkedin</a> | <a href="https://github.com/gardouin/" target="_blank">Github</a>
<br>
<b>Contact :</b> <a href="mailto:guilhem.ardouin@enseirb-matmeca.fr">guilhem.ardouin [at] enseirb-matmeca [dot] fr</a></p>

<h2>Education (short version)</h2>
<ul>
    <li><b>2024 - today:</b> Master of Science in Fundamental Computer Science (specialized in Software Verification) at <a href="https://www.u-bordeaux.fr/" target="_blank">Bordeaux University</a></li>
    <li><b>2024:</b> Exchange semester at <a href="https://www.tu.berlin/" target="_blank">TU Berlin</a> 🇩🇪</li>
    <li><b>2022 - today:</b> Engineering degree in Computer Science (specialized in Formal Methods) at <a href="https://enseirb-matmeca.bordeaux-inp.fr/" target="_blank">ENSEIRB-MATMECA</a></li>
    <li><b>2020 - 2022:</b> Undergraduate studies, "Classe préparatoire aux grandes écoles", MPSI then MP at <a href="http://montaigne-bordeaux.fr/" target="_blank">Lycée Michel de Montaigne</a></li>
</ul>

<!-- <br>

<h2>Blog posts</h2>

<section class="c-archives">
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
        <h2 class="c-archives__year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="c-archives__list">
    {% endif %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% if forloop.last %}
        </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 class="c-archives__year" id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul class="c-archives__list">
        {% endif %}
    {% endif %}
{% endfor %}
</section> -->
