---
layout: page
title: Home
---

<div style="display: flex;align-items: center;justify-content: left">
    <img src="img/photo.png" alt="Photo" style="border-radius:50%;width:25%;height:25%;">
    <p style="padding-left:40px; font-size: 22px;float: left;">
        <b>PhD Student on Trustworthy Artificial Intelligence<br>
        <a href="https://list.cea.fr/en/" target="_bank">CEA List</a></b>, France 🇫🇷<br><br>

        <span style="font-size: 20px;"><a href="https://scholar.google.com/citations?user=v8y_S-4AAAAJ&hl=en&authuser=2" target="_blank">Google Scholar</a> | <a href="https://github.com/gardouin/" target="_blank">Github</a></span>
    </p>
</div>

<p>Ciao! I am a PhD student at <a href="https://www.cea.fr/" target="_blank">CEA</a> since 2025.
My thesis is about the formal verification of neural networks.
In particular, I am working on extending the expressiveness of specification languages to verify more complex properties and on using meta-solving techniques to improve the verification process.</p>

<p><b>Contact:</b> <a href="mailto:guilhem.ardouin@cea.fr">guilhem.ardouin [at] cea [dot] fr</a></p>

<p><b>Curriculum Vitae:</b> <a href="upload/cv2526_en.pdf" target="_blank">English version 🏴󠁧󠁢󠁥󠁮󠁧󠁿</a> | <a href="upload/cv2526_fr.pdf" target="_blank">French version 🇫🇷</a></p>

<h2>🎓 Education</h2>

<ul>
    <li><b>PhD, Computer Science</b><br>
    2025 - ... (<a href="https://www.universite-paris-saclay.fr/" target="_blank">Université Paris-Saclay</a>, <a href="https://list.cea.fr/en/" target="_bank">CEA List</a></b>)</li>
    <li><b>Master of Science, Fundamental Computer Science / Software Verification</b><br>
    2024 - 2025 (<a href="https://www.u-bordeaux.fr/" target="_blank">Université de Bordeaux</a>)</li>
    <li><b>Engineering degree, Computer Science</b><br>
    2022 - 2025 (<a href="https://enseirb-matmeca.bordeaux-inp.fr/" target="_blank">ENSEIRB-MATMECA</a>)</li>
    <li><b>Classes préparatoires aux grandes écoles, MPSI/MP</b><br>
    2020 - 2022 (<a href="http://montaigne-bordeaux.fr/" target="_blank">Lycée Michel de Montaigne</a>)</li>
</ul>

<h2>&#128196; Publications</h2>

<p style="text-align: left;">
    <b>La confiance avec le contrôle : spécification et vérification d'hyperpropriétés sur réseaux de neurones</b><br>
    Guilhem Ardouin, Michele Alberti, Julien Girard-Satabin, <i><a href="https://jfla.inria.fr/jfla2026.html" target="_blank">JFLA 2026</a></i><br>
    <a href="https://hal.science/hal-05428158/document" target="_blank">PDF</a>, <a href="#" target="_blank">Talk</a>
</p>

<br>

<!-- <h2>Blog posts</h2>

<section class="c-archives">
{% for post in site.posts  %}
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

    {% if forloop.first %}
        <h2 class="c-archives__year" id="{{ this_year }}-ref">{{this_year}}</h2>
        <ul class="c-archives__list">
    {% endif %}
        <li class="c-archives__item">
            <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p>{{ post.date | date: "%b %-d, %Y" }}</p>
        </li>
    {% if forloop.last %}
        </ul>
    {% else %}
        {% if this_year != next_year %}
        </ul>
        <h2 class="c-archives__year" id="{{ next_year }}-ref">{{next_year}}</h2>
        <ul class="c-archives__list">
        {% endif %}
    {% endif %}
{% endfor %}
</section> -->
